
.master {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:3px;
    border-bottom: 2px solid black;
    background-color: #ff8282;
}

.headText {
    font-weight: bold;
}

.headingLink {
    padding-left: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.hideLegendLabel {
    margin-left: auto;

}