
.wrapper {
    display: flex;
    margin: 10px;
}

.whiteKey {
    position: relative;
    height: 70px;
    width:20px;
    border: 1px solid black;
}

.whiteKeyNoteName {
    position: absolute;
    bottom: 0;
    left:10;
}

.blackKey {
    height: 40px;
    width:15px;
    background:black;
    position: absolute;
}